<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% block title %}
    <title>dad</title>
    {% endblock %}
   
  </head>
  <body>
    <h1></h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/header/primary-logo.svg" class="img-fluid" alt="..."></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item dropdown fw-bold">
              <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Select Location
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Marathahalli</a>
                <a class="dropdown-item" href="#">Kr puram</a>
                <a class="dropdown-item" href="#">whitefield</a>
              </div>
            </li>
          </ul>
            <form class="container-fluid ">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"> <i class="bi bi-search"></i></span>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1"> 
              </div>
            </form>
          <!-- <li class="nav-item mx-4 list-group-item"> -->
          <div class="text-center"> <i class="bi bi-person-circle"></i>
            <a class="nav-link" href="{% url 'app1:child1' %}">Login</a></div> 
          <!-- </li> -->
           <!-- <li class="nav-item mx-4 list-group-item"> -->
            <div class="text-center"> <i class="bi bi-cart3"></i>
              <a class="nav-link" href="{% url 'app2:cart' %}">Cart</a></div> 
          <!-- </li> -->
        </div>
      </nav>

      {% block body_block %}
      

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner mb-5">
          <div class="carousel-item active">
            <img src="https://cdn.zeptonow.com/production/tr:w-1280,ar-3840-705,pr-true,f-auto,q-80/inventory/banner/4ea3de05-f469-4df2-9548-db9c9863dfdf.png" class="d-block w-100 " alt="..." loading="lazy">
          </div>
        </div>
      </div>

      <h3 class="mx-4">Wholesome Meals</h3>

      <div class="container-fluid">
        <div class="row ">
          <div class="col mb-4">
            <div class="card border-0 " style="width: 15rem;">
              <img src="https://cdn.zeptonow.com/production/tr:w-350,ar-5198-5198,pr-true,f-auto,q-80/cms/product_variant/1c88c494-a696-4ba0-92fc-7e065905254e.jpeg" class="card-img-top " style="border-radius:2rem;" alt="...">
              <div class="card-body">
                <h5>Chole kulche</h5>
                <span >Net Qty:450g</span>
                <div class="my-2"><b>175</b></div>
                <a href="{% url 'app2:mom' %}" class="btn btn-outline-danger">Add to Card</a>
            </div>  
          </div>
          </div>
         <div class="col mb-4">
            <div class="card border-0" style="width: 15rem;">
              <img src="https://cdn.zeptonow.com/production/tr:w-350,ar-3396-3396,pr-true,f-auto,q-80/cms/product_variant/f5d5ad7d-f9a4-4765-9e20-79f1c557c567.jpeg" class="card-img-top " style="border-radius:2rem;" alt="...">
              <div class="card-body">
                <h5>Dal Makhani</h5>
                <span >Net Qty:450g</span>
                <div class="my-2"><b>175</b></div>
                <a href="#" class="btn btn-outline-danger">Add to Card</a>
            </div>
          </div>
          </div>
          <div class="col mb-4">
            <div class="card border-0" style="width: 15rem;">
              <img src="https://cdn.zeptonow.com/production/tr:w-350,ar-4487-4487,pr-true,f-auto,q-80/cms/product_variant/0320dafe-0820-44c7-a59a-7aef807c3af1.jpeg" class="card-img-top " style="border-radius:2rem;" alt="...">
              <div class="card-body">
                <h5>Wheat Chapati</h5>
                <span >Net Qty: 450g</span>
                <div class="my-2"><b>175</b></div>
                <a href="#" class="btn btn-outline-danger">Add to Card</a>
            </div>
          </div>
          </div>
          <div class="col mb-4">
            <div class="card border-0" style="width: 15rem;">
              <img src="https://cdn.zeptonow.com/production/ik-seo/tr:w-1280,ar-4992-4992,pr-true,f-auto,q-80/cms/product_variant/10cf84cf-3bfa-4c85-bc0b-0a778d7c9880/Pav-Bhaji-.jpeg" class="card-img-top " style="border-radius:2rem;" alt="...">
              <div class="card-body">
                <h5>Pav Bhaji</h5>
                <span >Net Qty:450g</span>
                <div class="my-2"><b>175</b></div>
                <a href="#" class="btn btn-outline-danger">Add to Card</a>
            </div>
          </div>
        </div>
    </div>

    <h3 class="mx-4 my-4">New In Stores</h3>

    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col">
          <div class=" border-0" style="width: 7rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-336,ar-336-496,pr-true,f-auto,q-80/inventory/banner/36505655-0b0e-4b7c-abdc-92c7a230c267.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class=" border-0" style="width: 7rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-336,ar-336-496,pr-true,f-auto,q-80/inventory/banner/f87c5de9-c5d1-4bc4-8c5f-fd8342f8dde2.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class=" border-0" style="width: 7rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-336,ar-336-496,pr-true,f-auto,q-80/inventory/banner/b230aa9e-39d2-48cf-b70b-62b7345af476.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class=" border-0" style="width: 7rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-336,ar-336-496,pr-true,f-auto,q-80/inventory/banner/8a2b7d4f-8e95-4f2e-9007-e65cdaafde88.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class=" border-0" style="width: 7rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-336,ar-336-496,pr-true,f-auto,q-80/inventory/banner/ef68d97b-5786-434b-a554-562be8b5877e.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border-0" style="width: 7rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-336,ar-336-496,pr-true,f-auto,q-80/inventory/banner/5c143c45-988e-4eb3-a7f8-90245c6d5e12.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border-0" style="width: 7rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-336,ar-336-496,pr-true,f-auto,q-80/inventory/banner/be289cce-726b-4263-82a3-01c04168467a.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
      </div>
    </div>

   <h3 class="mx-4 my-4">Grocery & Kitchen</h3>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col">
          <div class="border-0" style="width: 10rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-420,ar-486-333,pr-true,f-auto,q-80/cms/category/2b5f2be5-cada-4cd7-b0af-e46c0c065f71.png"  style="width: 14rem;" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border-0" style="width: 10rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-210,ar-225-333,pr-true,f-auto,q-80/cms/category/4b28a9a2-8714-455c-ad17-fa765bbc3576.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border-0" style="width: 10rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-210,ar-225-333,pr-true,f-auto,q-80/cms/category/54dd01e1-2781-4a45-bc3a-ed53ebab9bd9.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border-0" style="width: 10rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-210,ar-225-333,pr-true,f-auto,q-80/cms/category/1237afd6-40bf-4942-a266-25f23025e86c.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class=" border-0" style="width: 10rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-210,ar-225-333,pr-true,f-auto,q-80/cms/category/8d4d3977-5197-49d9-9867-8a670524e48b.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border-0" style="width: 10rem;">
            <div class="">
              <img src="https://cdn.zeptonow.com/production/tr:w-210,ar-225-333,pr-true,f-auto,q-80/cms/category/ab241d87-da5b-4830-b38f-1a6cd30d0d41.png" alt="" class="card-img ">
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4 class="text-center my-5 mx-5">How It Work</h4>
   <div class="container-fluid mx-5">
      <div class="row">
        <div class="col">
          <div class="card border-2 shadow-lg p-3 mb-5 bg-white rounded" style="width: 20rem;height:18rem">
            <img class="mx-auto d-block"src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/pdp/place-order.svg"  style="width: 50%;height: 50%"alt="">
            <div class="card-body text-center mb-5">
              <h6>Open the app</h6>
               <p>Choose from over 7000 products across groceries, fresh fruits & veggies, meat, pet care, beauty items & more</p>
            </div> 
          </div>
        </div>
        <div class="col">
          <div class="card border-2 shadow-lg p-3 mb-5 bg-white rounded" style="width: 20rem;height:18rem">
            <img class="mx-auto d-block"src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/pdp/do-not-blink.svg"  style="width: 50%;height: 50%"alt="">
            <div class="card-body text-center mb-5">
              <h6>Place an order</h6>
               <p>Add your favourite items to the cart & avail the best offers</p>
            </div> 
          </div>
        </div>
        <div class="col">
          <div class="card border-2 shadow-lg p-3 mb-5 bg-white rounded" style="width: 20rem;height:18rem">
            <img class="mx-auto d-block"src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/pdp/enjoy.svg"  style="width: 50%;height: 50%"alt="">
            <div class="card-body text-center mb-5">
              <h6>Get free delivery</h6>
               <p>Experience lighting-fast speed & get all your items delivered in 10 minutes</p>
            </div> 
          </div>
        </div>
      </div>
      </div>


        <div class="card">
          <div class="card-header">
            <h4 class="my-3">Popular Searches</h4>
          <div class="">
            <p><b>Products</b>
          :
          Bottle gourd
          |
          Lady finger
          |
          Potato
          |
          Lemon
          |
          Dalchini
          |
          Fennel seeds
          |
          Blueberry
          |
          Papaya
          |
          Dragon fruit</p>
          <p>
          <b>Brands</b>
          :
          Yakult
          |
          My Muse
          |
          Aashirvaad Atta
          |
          Too Yumm
          |
          Lays
          |
          Figaro Olive Oil
          |
          Nandini Milk
          |
          Amul
          |
          Mother Dairy Near Me
          |
          Fortune Oil</p>
          <p>
         <b> Categories</b>
          :
          Grocery
          |
          Curd
          |
          Hukka flavour
          |
          Paan shop near me
          |
          Eggs price
          |
          Cheese slice
          |
          Fresh fruits
          |
          Fresh vegetables
          |
          Refined oil
          |
          Butter price
          |
          Paneer price</p>
          </div>
          </div>
        </div>
        {% endblock %}

        <div class="container mt-5" style="width: 25rem;">
          <div class=" mx-3 mt-5">
            <img src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/logo.svg" alt="" style="width: 7rem;">
          </div>
          <div class="mx-3 mt-4">
            <a href=""><img class="mx-2" src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/social-media/instagram.svg" alt="" style="width: 1.5rem;"></a>
            <a href=""><img class="mx-2" src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/social-media/twitter.svg" alt="" style="width: 1.5rem;"></a>
            <a href=""><img class="mx-2" src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/social-media/facebook.svg" alt="" style="width: 1.5rem;"></a>
            <a href=""><img class="mx-2" src="https://cdn.zeptonow.com/web-static-assets-prod/artifacts/12.52.1/images/social-media/linkedin.svg" alt="" style="width: 1.5rem;"></a>
          </div>
          <div class="mt-3 mx-3">
            <p>© KiranaKart Technologies Private Limited</p>
          </div>
        </div>
      
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
 </html>