{% extends 'dad.html' %}

<!-- <!DOCTYPE html> 
<html lang="en">
<head>
    <link rel="stylesheet" href="../../Bootstrap/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        img{
            height: 50px;
            width: 50px;
        }
    </style>
</head>
<body> 
   <div class="text-center">
    <i class="bi bi-dash-circle-fill" id="minus-btn"></i>
    <span id="display-qty">1</span>
   <i class="bi bi-plus-circle-fill" id="plus-btn"></i>
   </div>
            
    </div>
    <script>
        let plusBtn=document.getElementById('plus-btn');
        let minusBtn=document.getElementById('minus-btn');
        let displayQty=document.getElementById('display-qty');

        let qty=localStorage.getItem("qty")?localStorage.getItem("qty"):1;
        displayQty.textContent=qty;

        function incQty()
        {
            qty++;
            localStorage.setItem('qty',qty);
            displayQty.textContent=localStorage.getItem('qty');//qty;
        }
        plusBtn.addEventListener('click',incQty);

        function decQty()
        {
            qty--;
            displayQty.textContent=qty;
        }
        minusBtn.addEventListener('click',decQty);
    </script>
</body>
</html>-->




<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        
    {% block title %}
    <title>mom</title>
    {% endblock %}
 
  </head>
  <body>

    {% block body_block %}
    <div class="container-fluid my-5 ">
        <div class="row">
            <div class="col-4 m-auto ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://cdn.zeptonow.com/production/ik-seo/tr:w-1280,ar-5198-5198,pr-true,f-auto,q-80/cms/product_variant/1c88c494-a696-4ba0-92fc-7e065905254e/Chole-Kulche-.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://cdn.zeptonow.com/production/ik-seo/tr:w-1210,ar-1210-700,pr-true,f-auto,q-80/inventory/IMAGE/c55e1c9f-8d21-4153-bf29-46892d57c616-Screenshot_2022-08-26_at_15.35.02/Chole-Kulche-.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-4 text-center m-auto">
                <h5>Chole Kulche</h5>
                <span >Net Qty:450g</span>
                <div class="my-2">
                    <h1>₹179</h1>
                    <span>MRP₹189(incl. of all taxes)</span>
                </div>
               <div class="mt-5">
                <img src="https://cdn.zeptonow.com/production/tr:w-100,ar-44-44,pr-true,f-auto,q-80/inventory/product/b14db3f8-88e3-45b8-b2db-47404049a825.svg" alt="">
                <span>No Return or Exchange</span></div>
                <img src="https://cdn.zeptonow.com/production/tr:w-100,ar-44-44,pr-true,f-auto,q-80/inventory/product/f078756c-776f-4b0b-ab17-4a0400ae76d0.svg" alt="">
                <span>Fast Delivery</span>
                </div>
            </div>
      
        </div>
    </div>
    <div class="container-fluid m-auto text-center mt-5">
        <div class="row">
            <div class="col-6">
                <!-- Empty -->
            </div>
            <div class="col-6 p-5">
                <div class="card">
                    <h5>Information</h5>
                    <p>  <h6>disclaimer</h6>
                          Efforts are made to ensure accuracy, but product packaging may have additional or updated details. Please do not rely solely on the information provided and refer to the packaging for complete details
                      <h6>customer care details</h6>
                          In case of any issue, contact us E-mail address: support@zeptonow.com
                          
                          <h6>Seller Name</h6>
                          Geddit Convenience Private Limited
                          
                         
                          <h6> Seller Address</h6>
                          Ground Floor, Rahat Manzil Building, Dr Ambedkar Road, Khar West Mumbai, Greater Mumbai, Maharashtra-400052
                          
                          <h6>Seller License No.</h6>
                          11521998000248</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>